@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html{
    font-family: 'Poppins';
}

body{
	background: url(Erovoutika_signup_bg.png);
    background-color: #00008B;
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh; 
	overflow: hidden; 

}
::selection{
    color: #fff;
    background: #292929;
}

.container .form{
	margin-top: 5px;
    margin-left: 650px;
    padding: 30px 35px;
    border-radius: 5px;
	color: white;

	
	
    
}
.container h2{
    font-size: 28px;
    margin-top: -80px;
	padding-bottom: 28px;
    
	
}
.container .form form .form-control{
    height: 35px;
	width: 350px;
    font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container .form form .button{
	margin-top: -20px;
	width: 200px;
    height: 40px;
    background: #00008B;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
	border-radius: 30px;
	border: none;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    background: #5272F2;
}
.container .form form .link{
	top: 0;
	right: 0;
	position: absolute;
    padding: 20px 0;
	padding-right: 120px;
	color: white;
}
.container .form form .link a{
	top: 0;
	right: 0;
	position: absolute;
	background-color: white;
	text-decoration: none;
	padding: 20px 0;
    color: #00008B;
	padding-right: 30px;
	font-weight: bold;
	margin-top: 17px;
	margin-right: 55px;
	font-size: 10px;
	display: inline-block; 
	border-radius: 30px; 
	padding: 7px; 
}
.container .login-form form p{
    font-size: 14px;
	
	
}
.container .row .alert{
    font-size: 14px;
}

.logo img {
    width: 300px;
    height: auto; 
	margin-top: 10px;
	margin-bottom: -20px;
	margin-left: 50px;
}

.form-group {
  margin-bottom: 20px; 
}