html{
    font-family: 'Poppins';
}

body{
    background-image: url('image_src/bgotp.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh; 
	overflow: hidden; 
	display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;

}
::selection{
    color: #fff;
    background: #292929;
}

.container .form{
    background-image: url('image_src/bg.gif');
    padding: 30px 35px;
    border-radius: 5px;
	color: white;
	text-align: center;
	
	
    
}
.container h2{
    font-size: 25px;
    margin-top: 10px;
	padding-bottom: 28px;
	color: black;
}
.container img{
	width: 300px;
    height: auto; 
}
.container .form form .button{
	background-color: #00008B;
	font-weight: bold;
	color: white;
}
.container .form form .button:hover{
    background: #5272F2;
}
.logo img {
    width: 250px;
    height: auto; 
	margin-top: 10px;
	margin-bottom: -20px;
	margin-left: 50px;
}
